<% title "Trees" %>


<div id="tree_results">

	<div class="header">

  </div>
  <div id="trees">  
    <%= render @trees %>
	</div>


<%= paginate @trees %>

</div>

<p><%= link_to "New Tree", new_tree_path, :class => "link" %></p>
