$main-colour: #191970;
$head-colour: #556B2F;
$background-colour: #556B2F;
$foot-colour:  #9BCD9B;
$main-nav-colour: #2F4F4F;
$page-colour: #FFF8DC;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


#header logo {
	float: left;
	padding-top: 2px;
}

#header ul {list-style: none;}

#header-search {
	float: right;
	background: $head-colour;
}


#container {
	margin: 0 auto;
	width: 1000px;
	background: $page-colour;
}

#header {
	background: $head-colour;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation {
	float: left;
	width: 1000px;
	background: $main-nav-colour;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	&:hover { background: $head-colour; }
}

#content-container
{
	float: left;
	width: 1000px;
}

#section-navigation {
	float: left;
	width: 120px;
	padding: 20px 0;
	display: inline;
}

#section-navigation ul {
	margin: 0;
	padding: 0;
}

#section-navigation ul li {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#section-navigation li a {
	padding: 5px 40px 5px 5px;
	color: #0;
	text-decoration: none;
}


#section-navigation li a:hover { background: $head-colour; }

#content {
	float: left;
	width: 600px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	background: $page-colour
}

#content h2 { margin: 0; }

#aside {
	float: right;
	width: 180px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#aside h3 { 
	margin: 0;
}

#footer {
	clear: left;
	background: $foot-colour;
	text-align: right;
	padding: 20px;
	font-size: 12px;
	height: 1%;
}


.search {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 250px;
		background: #15b5db;
		border: 2px solid #ffffff
}

a { 
	color: $main-colour;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.link {
    background-color: $main-colour;
    color: #FFF;
    padding: 5px 12px;
    margin: 10px 0;
    font-size: 12px;
    @include rounded-corners(5px);
  }


#tree_results .tree .title {font-size: 110%;}

.actions {font-size: 80%;}

#tree_results .tree .details {font-size: 80%; color: #555}

.tree { padding-top: 20px; padding-bottom: 20px}


#picture_list {
			padding-top: 10px;
			padding-bottom: 10px;
}

.picture { font-size: 90%; color: #555; padding-top: 10px;
			padding-bottom: 10px;}
