$main-colour: #191970;
$head-colour: #2F4F4F;
$background-colour: #9BCD9B;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

#container {
	margin: 0 auto;
	width: 1000px;
	color: $background-colour;
	
}

body {
	background: $background-colour;
}

#header {
	background: $head-colour;
	color: white;
	width: 1000px;
	height: 50px;
}

#header h1 { margin: 0;} 

#head_search {
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	background: $head-colour;
}


nav {
	float: left;
	width: 120px;
	padding: 20px 0;
	display: inline;
	background: #53868B;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}


#content {
	float: left;
	width: 650px;
	margin: 0 auto;
	background: #FFFFF2;
	padding: 0 0 0 30px;
}

aside {
	float: right;
	width: 200px;
	padding: 20px 0;
	display: inline;
	background: #53868B;
}

footer {
	clear: both;
	text-align: right;
	width: 100%;
	padding: 10px;
	heigth: 1%;	
	background: #27408B;
	color: white;
}

.search {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 250px;
		background: #15b5db;
		border: 2px solid #ffffff
}

a { 
	color: $main-colour;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.link {
    background-color: $main-colour;
    color: #FFF;
    padding: 5px 12px;
    margin: 10px 0;
    font-size: 12px;
    @include rounded-corners(5px);
  }


#tree_results .tree .title {font-size: 110%;}

.actions {font-size: 80%;}

#tree_results .tree .details {font-size: 80%; color: #555}

.tree { padding-top: 20px; padding-bottom: 20px}


#picture_list {
			padding-top: 10px;
			padding-bottom: 10px;
}

.picture { font-size: 90%; color: #555; padding-top: 10px;
			padding-bottom: 10px;}
